<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ashe0.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,0},{140,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,235}}</string>
				<key>sourceSize</key>
				<string>{140,235}</string>
			</dict>

			<key>ashe1.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,236},{140,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,235}}</string>
				<key>sourceSize</key>
				<string>{140,235}</string>
			</dict>

			<key>ashe10.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,0},{140,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,235}}</string>
				<key>sourceSize</key>
				<string>{140,235}</string>
			</dict>

			<key>ashe11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,236},{140,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,235}}</string>
				<key>sourceSize</key>
				<string>{140,235}</string>
			</dict>

			<key>ashe12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{140,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,235}}</string>
				<key>sourceSize</key>
				<string>{140,235}</string>
			</dict>

			<key>ashe2.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,0},{140,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,235}}</string>
				<key>sourceSize</key>
				<string>{140,235}</string>
			</dict>

			<key>ashe3.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,236},{140,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,235}}</string>
				<key>sourceSize</key>
				<string>{140,235}</string>
			</dict>

			<key>ashe4.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,0},{140,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,235}}</string>
				<key>sourceSize</key>
				<string>{140,235}</string>
			</dict>

			<key>ashe5.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,236},{140,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,235}}</string>
				<key>sourceSize</key>
				<string>{140,235}</string>
			</dict>

			<key>ashe6.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,0},{140,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,235}}</string>
				<key>sourceSize</key>
				<string>{140,235}</string>
			</dict>

			<key>ashe7.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,236},{140,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,235}}</string>
				<key>sourceSize</key>
				<string>{140,235}</string>
			</dict>

			<key>ashe8.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,0},{140,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,235}}</string>
				<key>sourceSize</key>
				<string>{140,235}</string>
			</dict>

			<key>ashe9.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,236},{140,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,235}}</string>
				<key>sourceSize</key>
				<string>{140,235}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,512}</string>
			<key>textureFileName</key>
			<string>asheFirstSpellAnimate.png</string>
			</dict>
		</dict>
</plist>