<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cassiopeia0.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,782},{715,781}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{715,781}}</string>
				<key>sourceSize</key>
				<string>{715,781}</string>
			</dict>

			<key>cassiopeia1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2148,0},{715,781}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{715,781}}</string>
				<key>sourceSize</key>
				<string>{715,781}</string>
			</dict>

			<key>cassiopeia2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1432,782},{715,781}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{715,781}}</string>
				<key>sourceSize</key>
				<string>{715,781}</string>
			</dict>

			<key>cassiopeia3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1432,0},{715,781}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{715,781}}</string>
				<key>sourceSize</key>
				<string>{715,781}</string>
			</dict>

			<key>cassiopeia4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2148,782},{715,781}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{715,781}}</string>
				<key>sourceSize</key>
				<string>{715,781}</string>
			</dict>

			<key>cassiopeia5.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,0},{715,781}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{715,781}}</string>
				<key>sourceSize</key>
				<string>{715,781}</string>
			</dict>

			<key>cassiopeia6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,782},{715,781}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{715,781}}</string>
				<key>sourceSize</key>
				<string>{715,781}</string>
			</dict>

			<key>cassiopeia7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{715,781}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{715,781}}</string>
				<key>sourceSize</key>
				<string>{715,781}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,2048}</string>
			<key>textureFileName</key>
			<string>cassiopeiaWalkAnimate.png</string>
			</dict>
		</dict>
</plist>