<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pantheon0.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,1730},{840,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{840,864}}</string>
				<key>sourceSize</key>
				<string>{840,864}</string>
			</dict>

			<key>pantheon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1682,2595},{840,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{840,864}}</string>
				<key>sourceSize</key>
				<string>{840,864}</string>
			</dict>

			<key>pantheon10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1730},{840,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{840,864}}</string>
				<key>sourceSize</key>
				<string>{840,864}</string>
			</dict>

			<key>pantheon11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,865},{840,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{840,864}}</string>
				<key>sourceSize</key>
				<string>{840,864}</string>
			</dict>

			<key>pantheon12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{840,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{840,864}}</string>
				<key>sourceSize</key>
				<string>{840,864}</string>
			</dict>

			<key>pantheon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1682,1730},{840,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{840,864}}</string>
				<key>sourceSize</key>
				<string>{840,864}</string>
			</dict>

			<key>pantheon3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1682,865},{840,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{840,864}}</string>
				<key>sourceSize</key>
				<string>{840,864}</string>
			</dict>

			<key>pantheon4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1682,0},{840,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{840,864}}</string>
				<key>sourceSize</key>
				<string>{840,864}</string>
			</dict>

			<key>pantheon5.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,2595},{840,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{840,864}}</string>
				<key>sourceSize</key>
				<string>{840,864}</string>
			</dict>

			<key>pantheon6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2523,0},{840,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{840,864}}</string>
				<key>sourceSize</key>
				<string>{840,864}</string>
			</dict>

			<key>pantheon7.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,865},{840,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{840,864}}</string>
				<key>sourceSize</key>
				<string>{840,864}</string>
			</dict>

			<key>pantheon8.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,0},{840,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{840,864}}</string>
				<key>sourceSize</key>
				<string>{840,864}</string>
			</dict>

			<key>pantheon9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2595},{840,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{840,864}}</string>
				<key>sourceSize</key>
				<string>{840,864}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>pantheonFirstSpellAnimate.png</string>
			</dict>
		</dict>
</plist>