<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>irelia0.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,1730},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>irelia1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,2595},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>irelia10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1730},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>irelia11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,865},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>irelia12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>irelia2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,1730},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>irelia3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,865},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>irelia4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,0},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>irelia5.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,2595},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>irelia6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,0},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>irelia7.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,865},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>irelia8.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,0},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>irelia9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2595},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>ireliaFirstSpellAnimate.png</string>
			</dict>
		</dict>
</plist>