<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>malhazar0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,865},{804,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{804,864}}</string>
				<key>sourceSize</key>
				<string>{804,864}</string>
			</dict>

			<key>malhazar1.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,0},{804,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{804,864}}</string>
				<key>sourceSize</key>
				<string>{804,864}</string>
			</dict>

			<key>malhazar2.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,865},{804,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{804,864}}</string>
				<key>sourceSize</key>
				<string>{804,864}</string>
			</dict>

			<key>malhazar3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{804,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{804,864}}</string>
				<key>sourceSize</key>
				<string>{804,864}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>malhazarWalkAnimate.png</string>
			</dict>
		</dict>
</plist>