<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>kaisa0.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,439},{408,438}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{408,438}}</string>
				<key>sourceSize</key>
				<string>{408,438}</string>
			</dict>

			<key>kaisa1.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,439},{408,438}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{408,438}}</string>
				<key>sourceSize</key>
				<string>{408,438}</string>
			</dict>

			<key>kaisa10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{408,438}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{408,438}}</string>
				<key>sourceSize</key>
				<string>{408,438}</string>
			</dict>

			<key>kaisa2.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,0},{408,438}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{408,438}}</string>
				<key>sourceSize</key>
				<string>{408,438}</string>
			</dict>

			<key>kaisa3.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,1317},{408,438}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{408,438}}</string>
				<key>sourceSize</key>
				<string>{408,438}</string>
			</dict>

			<key>kaisa4.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,878},{408,438}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{408,438}}</string>
				<key>sourceSize</key>
				<string>{408,438}</string>
			</dict>

			<key>kaisa5.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,878},{408,438}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{408,438}}</string>
				<key>sourceSize</key>
				<string>{408,438}</string>
			</dict>

			<key>kaisa6.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,0},{408,438}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{408,438}}</string>
				<key>sourceSize</key>
				<string>{408,438}</string>
			</dict>

			<key>kaisa7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1317},{408,438}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{408,438}}</string>
				<key>sourceSize</key>
				<string>{408,438}</string>
			</dict>

			<key>kaisa8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,878},{408,438}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{408,438}}</string>
				<key>sourceSize</key>
				<string>{408,438}</string>
			</dict>

			<key>kaisa9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,439},{408,438}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{408,438}}</string>
				<key>sourceSize</key>
				<string>{408,438}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>kaisaSecondSpellAnimate.png</string>
			</dict>
		</dict>
</plist>