<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>kogmaw0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,0},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>kogmaw1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,2595},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>kogmaw10.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,1730},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>kogmaw11.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,865},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>kogmaw12.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,0},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>kogmaw13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2595},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>kogmaw14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1730},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>kogmaw15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,865},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>kogmaw16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>kogmaw2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,1730},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>kogmaw3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,865},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>kogmaw4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,0},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>kogmaw5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,2595},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>kogmaw6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,1730},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>kogmaw7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,865},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>kogmaw8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2644,0},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>kogmaw9.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,2595},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>kogmawFirstSpellAnimate.png</string>
			</dict>
		</dict>
</plist>