<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>elise0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,905},{536,904}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{536,904}}</string>
				<key>sourceSize</key>
				<string>{536,904}</string>
			</dict>

			<key>elise1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2148,905},{536,904}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{536,904}}</string>
				<key>sourceSize</key>
				<string>{536,904}</string>
			</dict>

			<key>elise10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{536,904}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{536,904}}</string>
				<key>sourceSize</key>
				<string>{536,904}</string>
			</dict>

			<key>elise2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2148,0},{536,904}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{536,904}}</string>
				<key>sourceSize</key>
				<string>{536,904}</string>
			</dict>

			<key>elise3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1611,905},{536,904}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{536,904}}</string>
				<key>sourceSize</key>
				<string>{536,904}</string>
			</dict>

			<key>elise4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1611,0},{536,904}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{536,904}}</string>
				<key>sourceSize</key>
				<string>{536,904}</string>
			</dict>

			<key>elise5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2685,0},{536,904}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{536,904}}</string>
				<key>sourceSize</key>
				<string>{536,904}</string>
			</dict>

			<key>elise6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,0},{536,904}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{536,904}}</string>
				<key>sourceSize</key>
				<string>{536,904}</string>
			</dict>

			<key>elise7.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,905},{536,904}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{536,904}}</string>
				<key>sourceSize</key>
				<string>{536,904}</string>
			</dict>

			<key>elise8.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,0},{536,904}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{536,904}}</string>
				<key>sourceSize</key>
				<string>{536,904}</string>
			</dict>

			<key>elise9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,905},{536,904}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{536,904}}</string>
				<key>sourceSize</key>
				<string>{536,904}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,2048}</string>
			<key>textureFileName</key>
			<string>eliseSecondSpellAnimate.png</string>
			</dict>
		</dict>
</plist>