<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>taliyah0.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,2595},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>taliyah1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,865},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>taliyah10.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,0},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>taliyah11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2595},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>taliyah12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1730},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>taliyah13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,865},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>taliyah14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>taliyah2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,0},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>taliyah3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,2595},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>taliyah4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,1730},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>taliyah5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,865},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>taliyah6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,0},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>taliyah7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,1730},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>taliyah8.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,1730},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

			<key>taliyah9.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,865},{660,864}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{660,864}}</string>
				<key>sourceSize</key>
				<string>{660,864}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>taLiyahFirstSpell.png</string>
			</dict>
		</dict>
</plist>