<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ryzeSpellOne00.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,618},{168,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,308}}</string>
				<key>sourceSize</key>
				<string>{168,308}</string>
			</dict>

			<key>ryzeSpellOne01.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,0},{168,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,308}}</string>
				<key>sourceSize</key>
				<string>{168,308}</string>
			</dict>

			<key>ryzeSpellOne02.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,618},{168,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,308}}</string>
				<key>sourceSize</key>
				<string>{168,308}</string>
			</dict>

			<key>ryzeSpellOne03.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,309},{168,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,308}}</string>
				<key>sourceSize</key>
				<string>{168,308}</string>
			</dict>

			<key>ryzeSpellOne04.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,0},{168,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,308}}</string>
				<key>sourceSize</key>
				<string>{168,308}</string>
			</dict>

			<key>ryzeSpellOne05.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,618},{168,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,308}}</string>
				<key>sourceSize</key>
				<string>{168,308}</string>
			</dict>

			<key>ryzeSpellOne06.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,309},{168,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,308}}</string>
				<key>sourceSize</key>
				<string>{168,308}</string>
			</dict>

			<key>ryzeSpellOne07.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,0},{168,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,308}}</string>
				<key>sourceSize</key>
				<string>{168,308}</string>
			</dict>

			<key>ryzeSpellOne08.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,309},{168,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,308}}</string>
				<key>sourceSize</key>
				<string>{168,308}</string>
			</dict>

			<key>ryzeSpellOne09.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,309},{168,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,308}}</string>
				<key>sourceSize</key>
				<string>{168,308}</string>
			</dict>

			<key>ryzeSpellOne10.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,0},{168,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,308}}</string>
				<key>sourceSize</key>
				<string>{168,308}</string>
			</dict>

			<key>ryzeSpellOne11.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,618},{168,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,308}}</string>
				<key>sourceSize</key>
				<string>{168,308}</string>
			</dict>

			<key>ryzeSpellOne12.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,309},{168,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,308}}</string>
				<key>sourceSize</key>
				<string>{168,308}</string>
			</dict>

			<key>ryzeSpellOne13.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,0},{168,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,308}}</string>
				<key>sourceSize</key>
				<string>{168,308}</string>
			</dict>

			<key>ryzeSpellOne14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,618},{168,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,308}}</string>
				<key>sourceSize</key>
				<string>{168,308}</string>
			</dict>

			<key>ryzeSpellOne15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,309},{168,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,308}}</string>
				<key>sourceSize</key>
				<string>{168,308}</string>
			</dict>

			<key>ryzeSpellOne16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{168,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,308}}</string>
				<key>sourceSize</key>
				<string>{168,308}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>ryzeSpellOne.png</string>
			</dict>
		</dict>
</plist>