<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ashe0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3560},{474,444}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{474,444}}</string>
				<key>sourceSize</key>
				<string>{474,444}</string>
			</dict>

			<key>ashe1.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,2670},{474,444}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{474,444}}</string>
				<key>sourceSize</key>
				<string>{474,444}</string>
			</dict>

			<key>ashe10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2670},{474,444}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{474,444}}</string>
				<key>sourceSize</key>
				<string>{474,444}</string>
			</dict>

			<key>ashe11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2225},{474,444}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{474,444}}</string>
				<key>sourceSize</key>
				<string>{474,444}</string>
			</dict>

			<key>ashe12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1780},{474,444}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{474,444}}</string>
				<key>sourceSize</key>
				<string>{474,444}</string>
			</dict>

			<key>ashe13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1335},{474,444}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{474,444}}</string>
				<key>sourceSize</key>
				<string>{474,444}</string>
			</dict>

			<key>ashe14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,890},{474,444}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{474,444}}</string>
				<key>sourceSize</key>
				<string>{474,444}</string>
			</dict>

			<key>ashe15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,445},{474,444}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{474,444}}</string>
				<key>sourceSize</key>
				<string>{474,444}</string>
			</dict>

			<key>ashe16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{474,444}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{474,444}}</string>
				<key>sourceSize</key>
				<string>{474,444}</string>
			</dict>

			<key>ashe2.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,2225},{474,444}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{474,444}}</string>
				<key>sourceSize</key>
				<string>{474,444}</string>
			</dict>

			<key>ashe3.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,1780},{474,444}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{474,444}}</string>
				<key>sourceSize</key>
				<string>{474,444}</string>
			</dict>

			<key>ashe4.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,1335},{474,444}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{474,444}}</string>
				<key>sourceSize</key>
				<string>{474,444}</string>
			</dict>

			<key>ashe5.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,890},{474,444}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{474,444}}</string>
				<key>sourceSize</key>
				<string>{474,444}</string>
			</dict>

			<key>ashe6.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,445},{474,444}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{474,444}}</string>
				<key>sourceSize</key>
				<string>{474,444}</string>
			</dict>

			<key>ashe7.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,0},{474,444}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{474,444}}</string>
				<key>sourceSize</key>
				<string>{474,444}</string>
			</dict>

			<key>ashe8.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,3115},{474,444}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{474,444}}</string>
				<key>sourceSize</key>
				<string>{474,444}</string>
			</dict>

			<key>ashe9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3115},{474,444}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{474,444}}</string>
				<key>sourceSize</key>
				<string>{474,444}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,4096}</string>
			<key>textureFileName</key>
			<string>asheSecondSpellAnimate.png</string>
			</dict>
		</dict>
</plist>