<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>asheCooldown0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,516},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>asheCooldown1.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,129},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>asheCooldown2.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,0},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>asheCooldown3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,774},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>asheCooldown4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,645},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>asheCooldown5.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,258},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>asheCooldown6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,387},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>asheCooldown7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,258},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>asheCooldown8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,129},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>asheCooldown9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>asheSecondSpellCooldown.png</string>
			</dict>
		</dict>
</plist>